div{
    border: 2px solid #000;
	 color: #000;
	 font-size: 14px;
	 box-sizing: border-box;
	 width: 100%;
}
.third{
    width: calc(70% - 8px);
}
.second, .fourth{
    width: 15%;	
}
.second, .third, .fourth{
	 display: inline-block;
}